<h2>--- Patient Menu ---</h2>
<p>Welcome, {{ username }}!</p>
<ul>

  <li>1. <a href="/view_profile">View Profile</a></li>
  <li>2. <a href="/create_appointment">Create Appointment</a></li>
  <li>3. <a href="/view_my_appointments">View My Appointments</a></li>
  <li>4. <a href="/cancel_appointment">Cancel Appointment</a></li>
  <li>5. <a href="/change_appointment">Change Appointment</a></li>
  <li>6. <a href="/availability">Check Doctor Availability</a></li>
  <li>7. <a href="/view_my_medical_records">View My Medical Records</a></li>
  <li>8. <a href="/view_all_appointments">View All Appointments</a></li>
  <li>9. <a href="/make_copay">Make a Copay</a></li>
  <li>10. <a href="/manage_cards">Manage My Cards</a></li>
  <li>11. <a href="/logout">Logout</a></li>
</ul>
