<h2>--- Staff Menu ---</h2>
<p>Welcome, {{ username }}!</p>
<ul>
  <li>1. <a href="/staff_profile">View Profile</a></li>
  <li>2. <a href="/availability">Check Doctor Availability</a></li>
  <li>3. <a href="/create_patient_visit">Create Patient Visit</a></li>
  <li>4. <a href="/record_list">Record List</a></li>
  <li>5. <a href="/create_charge">Create Charge</a></li>
  <li>6. <a href="/view_charges">View Charges</a></li>
  <li>7. <a href="/view_all_appointments">View All Appointments</a></li>
  <li>8. <a href="/logout">Logout</a></li>
</ul>
